/* .swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
 /* Styles for the modal */
.modal {
    backdrop-filter: blur(5px); /* Add blur effect to the background */
  }
  
  /* Center the modal */
  .modal-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
  }
  
  /* Ensure modal-box is properly styled */
  .modal-box {
    background: white; /* Background color of the modal */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  